/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.row{
  margin: 0 auto;
  text-align: center;

}

h1 {

  font-size: 35px;
}

body {
  background: linear-gradient(#000, #003366);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Avenir Next', Arial;
  color: #ffffff;
}


p {
  color: white;
  font-size: 15px;
  margin: 15px 0px 10px;
}



a {
  color: #FCFC08;
}

input {
  color: black;
}

nav a {
  margin-left: 10px;
  margin-top: 30px;
  color: #fff;
  display: block;
  float: right;
}
nav img {
  margin-top: 20px;
  height: 30px;
  display: block;
  float: right;
}

figure {
  width: 400px;
  margin: 30px auto 30px auto;
  background-color: #1C69D0;
  border-radius: 20px;
  padding: 15px;
}
figure img {
  height: 300px;
}
figure button {
  margin-left: 20px;
  text-align: right;
  height: 50px;
  width: 120px;
}
.like {
  background-position: 0 -50px;
}
.nolike {
}

.alert {
  color: darkred;
}
.notice{
  color: darkgreen;
}

.friend {
margin-bottom: 60px;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0882FC;
  text-align: center;
  fixed: bottom;
padding-left: 80px;
}

